.loginBtn{
  border-radius: 6px;
  border-color: aliceblue;
}
.loginBtn:hover{
    color: white;
    background-color: black;
}
.navColor{
    color: rgb(225,62,37);
}
.navColor2{
  color: rgb(225,62,37);
}
.navColor:hover{
  color: rgb(121, 174, 235);
}
li, a { 
  text-decoration: none;
  list-style: none;
}

/* card */
.card {
    width: 18rem;
    cursor: pointer;
  }
  
.card-img-top {
  height: 150px;
  object-fit: cover;
  transition: transform 0.5s;
}

.card:hover .card-img-top {
  transform: scale(0.9);
}

.catBtn{
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border-color: aliceblue;
  width: 250px;
  height: 35px;
}
.catBtn:hover{
  background-color: rgb(225,62,37);
  color: white;
}

.searchBtn{
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border-color: aliceblue;
  width: 150x;
  height: 45px;
  margin-left: 10px;
}
.searchBtn:hover{
  background-color: rgb(225,62,37);
  color: white;
}

.searchForm{
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border-color: aliceblue;
  width: 300px;
  height: 40px;
  margin-left: 10px;
  padding: 12px;
  margin-left: 550px;
}

.pagination{
  color: black;
}

